:root{
	--palette0: #111111;
	--palette0a: #111111aa;
	--palette1: darkcyan;
	--palette2: white;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	width: 100vw;
	height: 100vh;
	background-color: var(--palette0);
	color: var(--palette2);
	overflow: hidden;
}
nav{
	background-color: var(--palette1);
	height: 5em;
	grid-column: 1;
	grid-row: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	padding: 0.1em;
}
nav>a::after{
	content: attr(title);
	position: absolute;
	display: inline;
	transform: translateX(-50%);
	color: black;
}
nav>a>img{display: none; height: 3.5em;}
nav>a>img:first-of-type{display: block;}
nav>a.active>img:first-of-type{display: none;}
nav>a.active>img:last-of-type{display: block;}

main{
	grid-column: 1;
	grid-row: 1;
	display: none;
	padding: 0.5em;
	overflow-y: scroll;
}

main.JOBS.active{
	display: grid;
}
main.TEMP.active{
	display: grid;
	grid-template-rows: repeat(5,min-content);
}
.temp-tabs>h3{color: #555;}
.temp-tabs>h3.active{color: white;}

#fav-sav-cont{
	border-bottom: var(--palette1) solid 0.3em;
	padding-top: 0.25em;
	overflow-x: scroll;
}
#fav-sav-cont>*{display: none; overflow-y: hidden;}
#fav-sav-cont>*.active{display: flex; flex-wrap: nowrap;}
#temp-tab-cont{padding-top: 0.25em;}
#temp-tab-cont>*{display: none;}
#temp-tab-cont>*.active{display:flex;flex-wrap:wrap;}
main.LIST.active{
	display: grid;
}

.doc {
	background-color: white;
	min-width: 6em;
	height: 8em;
	margin-bottom: 1.1em;
}
.doc::after{
	content: attr(title);
	position: relative;
	width: 100%;
	top: 100%;
}


.addthis{
	color:white;
	background-color: transparent;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	font-size: 2em;
}
.addthis:hover{
	background-image: 
		linear-gradient(transparent,white);
}

figure {display: none;}
figure.active {
	display: grid;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #000000cc;
	color: black;
}
figure>div{
	display: grid;
	grid-template-columns: min-content auto min-content;
	width: 35em;
	max-width: 97vw;
	height: min-content;
	max-height: 97vh;
	background-color: var(--palette1);
	border-radius: 0.4em;
	text-align: center;

}
figure>div>*{grid-column: 1/-1;}
figure>div>.quit-btn,
figure>div>h1 {grid-column: span 1;}
figure p{color: white;}
figure h3 {border-top: solid var(--palette0) 0.12em;}
button.wide{
	color: white;
	margin: 1em 12.5%;
	width: 75%;
	font-size: xx-large;
	font-weight: bolder;
	border: 0.1em solid white;
	border-radius: 0.2em;
	background-color: transparent;
}
p.wide{
	background-color: var(--palette0a);
	color: var(--palette0a);
	height: 0.2em;
	width: 100%;
}
p.wide::after{
	content: attr(title);
	position: absolute;
	transform: translate(-50%,-50%);
	background-color: var(--palette1);
	font-weight: bolder;
	font-size: larger;
}
div.wide{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0.5em 12.5%;
	width: 75%;
}
div.wide>*:hover{background-color: #ffffffaa;}

.horizontal-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap:1em;
	text-align: center;
	align-items: center;
}
.scrollX{overflow-x: scroll;}
.scrollY{overflow-y: scroll;}
.btn,button{cursor: pointer;}


@media only screen and (min-width: 1000px) {
	body {
		grid-template-columns: auto 1fr;
	}

nav>a::after{
	left: 5em;
	transform: translateX(-50%);
}
	body>nav{
		width: 10em;
		height: 100vh;
		grid-column: 1;
		grid-row: 1;
		flex-direction: column;
	}
	body>main{
		grid-column: 2;
		grid-row: 1;
	}
}